# Türkiye İçin Kira Tahmin Uygulaması

In [2]:
import os 
import numpy as np
import pandas as pd

In [28]:
def drop_columns(df, cols):
    """
    This function removes the columns from a DataFrame.
    """
    for col in cols:
        try:
            df.drop([col], axis=1, inplace=True)
        except Exception as e:
            print(f"Bir hata oluştu: {e}")

In [3]:
df = pd.read_csv('HepsiEmlak/hepsiemlak.csv')

In [4]:
os.listdir('HepsiEmlak')

['hepsiemlak (1).csv',
 'hepsiemlak (2).csv',
 'hepsiemlak (3).csv',
 'hepsiemlak.csv']

In [5]:
files = os.listdir('HepsiEmlak')

In [6]:
df = pd.concat([pd.read_csv(f"HepsiEmlak/{file}") for file in files], ignore_index=True)

In [7]:
df.drop(['photo-count',
       'list-view-date', 'left','eids-badge__description', 'he-lazy-image src', 'eids-badge__label',
       'list-view-header', 'list-view-location', 'img-wrp href',
       'he-lazy-image src 2', 'listing-card--owner-info__firm-name',
       'he-lazy-image src 3', 'wp-btn', 'listing-card--owner-info__name'], axis=1, inplace=True)

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28671 entries, 0 to 28670
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   img-link href    28671 non-null  object
 1   list-view-price  28671 non-null  object
 2   currency         28671 non-null  object
 3   celly            28671 non-null  object
 4   celly 2          28671 non-null  object
 5   celly 3          28671 non-null  object
 6   celly 4          27234 non-null  object
dtypes: object(7)
memory usage: 1.5+ MB
None

In [9]:
df.drop(['currency'], axis=1, inplace=True)

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28671 entries, 0 to 28670
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   img-link href    28671 non-null  object
 1   list-view-price  28671 non-null  object
 2   celly            28671 non-null  object
 3   celly 2          28671 non-null  object
 4   celly 3          28671 non-null  object
 5   celly 4          27234 non-null  object
dtypes: object(6)
memory usage: 1.3+ MB
None

In [11]:
print(df.head())

                                       img-link href list-view-price  \
0  https://www.hepsiemlak.com/ankara-cankaya-harb...          33.000
1  https://www.hepsiemlak.com/canakkale-merkez-ba...          17.000
2  https://www.hepsiemlak.com/ankara-golbasi-ince...          25.250
3  https://www.hepsiemlak.com/ankara-yenimahalle-...          35.000
4  https://www.hepsiemlak.com/antalya-dosemealti-...          18.000

                              celly celly 2  \
0  3 +\n                          1  110 m²
1  1 +\n                          1   55 m²
2  1 +\n                          1   55 m²
3  4 +\n                          1  160 m²
4  2 +\n                          1   95 m²

                               celly 3       celly 4
0  30\n                        Yaşında        1. Kat
1   5\n                        Yaşında        4. Kat
2                           Sıfır Bina  Yüksek Giriş
3  15\n                        Yaşında        3. Kat
4  12\n                        Yaşında        2. Kat

In [12]:
print(df.shape)

(28671, 6)

In [21]:
df['location'] = df['img-link href'].apply(lambda x: x.split('/')[3])
df['city'] = df['location'].str.split('-').str[0]
df['district'] = df['location'].str.split('-').str[1]
df['neighborhood'] = df['location'].str.split('-').str[2:-1] 
df['neighborhood'] = df['neighborhood'].apply(lambda x: '-'.join(x))

In [29]:
drop_columns(df, ['img-link href', 'location'])